<app-header></app-header>

<div class="d-flex">
  
  <app-sidebar></app-sidebar>

  <div class="m-5 row w-100">

    <div class="col-lg-6 mb-5">
      <h5>Line Chart</h5>
      <canvas id="line_chart"></canvas>
    </div>

    <div class="col-lg-6 mb-5">
      <h5>Bar Chart</h5>
      <canvas id="bar_chart"></canvas>
    </div>

    <div class="col-lg-6 mb-5">
      <h5>Doughnut Chart</h5>
      <canvas id="doughnut_chart"></canvas>
    </div>

    <div class="col-lg-6 mb-5">
      <h5>Pie Chart</h5>
      <canvas id="pie_chart"></canvas>
    </div>
    

  </div>
  
</div>
